
.container {
  padding-left: 15px;
  padding-right: 15px;

  & * {
    z-index: 3;
  }

  .main_logo {

    @media(max-width: 576px) {
      width: 100px;
      height: 38px;
    }
  }
}

section {
  position: relative;
}

p {
  position: relative;
  background: transparent;
}