@mixin font_titles($fz, $clr, $line-height) {
  font-family: Alata, sans-serif;
  font-size: $fz;
  color: $clr;
  line-height: $line-height;
}

@mixin font_info($fz, $clr, $line-height) {
  font-family: "Sofia Pro", sans-serif;
  font-size: $fz;
  color: $clr;
  line-height: $line-height;
  font-weight: 300;
}

@mixin font_link {
  font-family: "Sofia Pro Medium", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

@mixin btn-style($width) {
  font-family: "Sofia Pro Medium", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  height: 48px;
  color: #000000;

  background: #F9D023;
  width: $width;
}

.main {
  background: linear-gradient(360deg, #000000 4.66%, rgba(0, 0, 0, 0) 76.78%), url(../img/main.png);
  background-size: cover;
  position: relative;

  //height: 100vh;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  .line {
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 576px) {
    display: none;
  }

  @media(max-width: 767.98px) {
    display: none;
  }
}

.main_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 50px;

  @media(max-width: 576px) {
    margin: 0;
    padding-top: 20px;
  }

  @media(max-width: 767.98px) {
    margin: 0;
    padding-top: 50px;
  }

  @media (max-width: 991.98px) {
    margin: 0;
    padding-top: 80px;
  }
}

.main_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media(max-width: 576px) {
    display: none;
  }

  @media(max-width: 767.98px) {
    display: none;
  }

  @media (max-width: 991.98px) {
    width: 50%;
  }

  a {
    text-decoration: none;
  }

  .link {
    position: relative;
    margin-left: 66px;
    color: black;
    @include font_link;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background: #F6D330;
      left: 0;
      bottom: -15px;
      opacity: 0;
      pointer-events: none;
      transition: opacity .2s;
    }

    &:hover {
      color: #000000;
      text-decoration: none;

      &:before {
        opacity: 1;
        transition: opacity .2s;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.main_text {
  padding-top: 189*2px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media(max-width: 576px) {
    padding-top: 62px;
    padding-bottom: 70px;
  }

  @media(max-width: 767.98px) {
    padding-top: 192px;
    padding-bottom: 200px;
  }

  @media (max-width: 991.98px) {
    padding-top: 192px;
    padding-bottom: 150px;
  }

  .text {
    line-height: 130px;
    margin-bottom: 41px;
    font-weight: normal;

    text-align: center;

    @include font_titles(115px, #FFFFFF, 130px);

    z-index: 3;

    @media(max-width: 576px) {
      font-family: Alata, sans-serif;
      font-size: 50px;
      color: #FFFFFF;
      line-height: 60px;
      margin-bottom: 18px;
    }

    @media(max-width: 767.98px) {
      @include font_titles(70px, #FFFFFF, 80px);
      margin-bottom: 58px;
    }

    @media (max-width: 991.98px) {
      @include font_titles(90px, #FFFFFF, 80px);
      margin-bottom: 98px;
    }
  }

  .info {
    @include font_info(25px, #FFFFFF, 35px);
    text-align: center;
    margin-bottom: 79px;

    @media(max-width: 576px) {
      @include font_info(14px, #FFFFFF, 20px);
      margin-bottom: 44px;
    }

    @media(max-width: 767.98px) {
      @include font_info(18px, #FFFFFF, 26px);
      margin-bottom: 109px;
    }

    @media (max-width: 991.98px) {
      @include font_info(20px, #FFFFFF, 28px);
      margin-bottom: 109px;
    }
  }

  .btn_main {
    @include btn-style(196px);
    margin-bottom: 236px;
    border: none;
    transition: none;

    @media(max-width: 576px) {
      margin: 0;
    }

    @media(max-width: 767.98px) {
      margin: 0;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 150px;
    }
  }

  .logo {
    margin-bottom: 3px;
  }

  .scroll {
    @include font_info(14px, rgba(255, 255, 255, 0.7), 14px);
    margin-bottom: 55px;
    text-decoration: none;

    @media(max-width: 576px) {
      display: none;
    }

    @media(max-width: 767.98px) {
      display: none;
    }

    @media (max-width: 991.98px) {
      margin-bottom: 0;
    }
  }

  .main_logo {
    width: 100%;
    height: 100%;
  }
}
